/* A global navbar for each school. */
#students-first-navbar {
	font-size: 15pt;
	margin: 15px;
	padding: 15px;
	min-width: 805px;
	z-index: 3;
}

#students-first-navbar a, #students-first-navbar a:visited {
	color: #ffffff;
}
