#wrapper {
	font-family: "Avenir";
}

.students-first-big-green-button {
	display: block;
	width: 610px;
	background-color: #2dac00;
	text-align: center;
	padding: 15px;
	color: #ffffff;
	text-decoration: none;
	margin: 10px auto;
	z-index: 1;
	clear: both;
}

.students-first-big-green-button:hover {
	background-color: #34c800;
}

.students-first-big-green-button .students-first-button-title {
	display: block;
	font-size: 24pt;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

.students-first-big-green-button .students-first-button-subtitle {
	display: block;	
	font-size: 9pt;
	margin-right: auto;
	margin-left: auto;	
}