/* A global, pagewide wrapper */

#students-first-wrapper {
	font-family: "Helvetica", "helvetica", sans-serif !important;
}

/* The notification center UI for the landing page*/
#students-first-notification-center {
	background-color: #face01;
	color: #ffffff;
	font-size: 10pt;	
}

/* Most wrapper divs in Students First have rounded corners */
.students-first-round-corner {
	border-radius: 15px;
}

/* The overlay should cover everything. */
#students-first-modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin :0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 900;
	text-align: center;
	opacity: 1.0;
}

#students-first-modal-color {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 901;
	text-align: center;	
	background-color: #000000;
	opacity: 0.6;
}

.students-first-modal-window {
	border: 1px solid #000000;
	border-radius: 15px;
}

.navButton {
	color: fff;
	border: 1px solid #fff;
	border-radius: 8px;
	margin: -8px 0;
	padding: 8px;
	text-decoration: none;
}

.underlineButton {
	color: fff;
	text-decoration: underline;
}

.borderless {
	border:none !important;
}

.right {
	float: right;
}

.left {
	float: left;
}
